#travel-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
}

#travel-body a {
  color: #ff6f3f;
  text-decoration: none;
  font-weight: 800;
}

.travel-icon img {
  width: 64px;
  height: 64px;
}

.travel-method {
  display: grid;
  grid-template-columns: 100px auto;
  max-width: 80vw;
}

.travel-method h2 {
  font-size: 2rem;
  margin: 0px;
}

#routes {
  display: flex;
  flex-flow: row wrap;
}

#routes img {
  width: 30rem;
}

#routes div {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pos relative */
.pr {
  position: relative;
}
