#travel-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
}

#travel-body a {
  color: #ff6f3f;
  text-decoration: none;
  font-weight: 800;
}

p {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: "Aleo";
  font-weight: 900;
}

h2 {
  margin-bottom: 10px !important;
}

h3 {
  margin-bottom: 3px;
  font-family: "Avenir";
}

.travel-icon img {
  width: 64px;
  height: 64px;
}

.travel-method {
  display: grid;
  grid-template-columns: 100px auto;
  width: 80vw;
}

.travel-method h2 {
  font-size: 2rem;
  margin: 0px;
}

#routes {
  display: flex;
  flex-flow: row wrap;
}

#routes img {
  width: 100%;
}

#routes div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#routes div {
  flex-basis: calc(50% - 20px);
}

@media only screen and (min-width: 1200px) {
  #routes div {
    max-width: 500px !important;
  }

  #routes {
    max-width: 1000px;
    margin: auto;
  }
}

@media only screen and (max-width: 1200px) {
  #routes div {
    max-width: 500px !important;
    width: 500px;
  }
}

/* pos relative */
.pr {
  position: relative !important;
}

footer {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  #travel-body {
    padding-top: 5rem;
  }

  .travel-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    text-align: center;
  }

  #routes {
    width: 100%;
    margin: auto;
  }

  #routes div {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100%;
    margin: 10px 0px;
    flex-basis: auto;
  }

  .travel-method > div {
    width: 100%;
  }
}
