/* Begin Fonts */
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirHeavy/Avenir-Heavy.otf") format("opentype");

  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url("./assets/fonts/Aleo/Aleo-Regular.otf") format("opentype");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url("./assets/fonts/Aleo/Aleo-Bold.otf") format("opentype");

  font-weight: 700;
  font-style: normal;
}

/* End Fonts */

/* Begin Global Styles */

.mobile {
  display: none;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;

  color: #1a2e33;
  background: #eaebe6;

  font-family: "Avenir";
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.overflow-none {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.orange-info {
  color: #ff6f3f;
  font-weight: 800;
  font-size: 1.4rem;
}

.bold {
  font-weight: 800;
  color: white;
  text-decoration: none;
}

/* End Global Styles */

/* Begin Modal */
#modal-holder {
  display: none;
}

#modal-bg {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  background: #eaebe6;
  width: 1100px;
  height: 500px;

  color: #1a2e33;
}

.modal-head {
  margin: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.modal-head h1 {
  display: inline-block;
  margin: 0px;
}

.modal-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.modal-col {
  background: white;
  min-height: 100%;
  height: 20rem;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1%;
  padding: 8px;

  position: relative;
}

.modal-body h2 {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.modal-body p {
  font-weight: 500;
}

.register-icon {
  width: 82px;
  height: 82px;
}

.modal .button {
  background: #ff6f3f;
  color: white;

  text-decoration: none;
  margin-bottom: 10px;
  width: 80%;

  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  padding: 1rem 0.5rem;
  line-height: 1.3rem;

  text-transform: uppercase;

  position: absolute;
  bottom: 0;
}

#modal-close {
  font-size: 2rem;
  color: #1a2e33;
}
/* End Modal */

/* Begin */
/* End */

/* Begin */
/* End */

/* Begin */
/* End */

/* Begin */
/* End */

/* Begin WIP pages */
.home-link {
  text-transform: uppercase;
}

#wip-body {
  display: flex;
  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
  background: #eaebe6;
  font-family: "Avenir";
}

#wip-body h1 {
  font-family: "Aleo";
}

#wip-body > div {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  margin: 2rem;
}

#wip-body img {
  width: 128px;
  height: 128px;
}

#wip-body p {
  max-width: 70%;
  text-align: center;
}

#wip-body a,
#wip-body a:link,
#wip-body a:visited {
  margin-top: 3rem;
  text-decoration: none;
  border-bottom: 4px solid #1a2e33;

  color: #1a2e33;
  font-size: 1.4rem;
  font-weight: 700;
}

#workshop-form a,
#workshop-form a:link,
#workshop-form a:visited {
  font-size: 1rem !important;
}
/* End */

/* Begin */
/* End */

/* Mobile */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  html {
    font-size: 12px;
  }

  #hero {
    padding-top: 10vh;
  }

  #hero h1 {
    font-size: 6.7rem;
  }

  #teams,
  #paths,
  #other-pages,
  #footer {
    flex-direction: column !important;
  }

  #info {
    flex-direction: column-reverse !important;
  }

  #hero {
    background-position: right -265px bottom !important;
  }

  #teams-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info-text,
  #teams-text,
  .col {
    max-width: 90% !important;
    width: 90% !important;
  }

  #info-img {
    margin-top: 10px;
  }

  #info-text {
    margin: 30px 0px !important;
  }

  .mobile {
    display: inline;
  }

  .modal {
    width: 90vw;
    height: 90vh;
    overflow: scroll;
  }

  .modal-head {
    width: auto;
  }

  .modal-body {
    flex-direction: column;
    width: auto;
  }

  .modal-col {
    width: 80vw;
  }

  #footer-logo {
    display: none !important;
  }

  /* MOBILE STYLING FIXES */
  .col {
    margin: auto !important;
    margin-top: 1rem !important;
  }

  .faq {
    width: 100% !important;
  }

  #faqs-body {
    width: 95vw !important;
  }

  #faqs h1 {
    text-align: center !important;
  }

  #teams h2 {
    text-align: center !important;
  }

  #opp_section_title {
    text-align: center !important;
  }

  /* END OF MOBILE STYLING FIXES */

  .email-pair {
    margin: 5px 0px;
  }

  #footer-logo-mobile {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 20px auto 10px auto;
  }

  .expand {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .expand::before,
  .expand::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #d1d1d6;
  }
  .expand::before {
    margin-right: 0.25em;
  }
  .expand::after {
    margin-left: 0.25em;
  }

  footer #footer-expand-up {
    display: flex;
    font-size: 1.5rem;
  }

  #footer {
    border: none;
    margin: auto;
    padding-bottom: 40px !important;
  }

  footer #footer-emails,
  footer #footer-links {
    display: none;
  }

  #social {
    display: none;
    margin: 0px auto;
  }

  #explore p {
    margin: 0px 14px !important;
  }

  #explore img {
    width: 250px !important;
  }
}

/* HERO */
#hero {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  height: 100%;

  color: white;
  font-size: 4rem;

  background: url("./assets/bgs/bitcamp-2018.jpg");
  background-size: cover;
  background-position: center bottom;
}

#hero a,
#hero a:link,
#hero a:visited {
  margin-bottom: 30px;
  padding: 1rem;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.8);

  color: white;
  background: #ff6f3f;

  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

#hero h1 {
  margin-top: 10vh;
  margin-bottom: 10px;

  font-family: "Aleo";
  font-weight: 900;
}

#hero h2 {
  margin: 0px;

  font-weight: 500;
  margin-bottom: 20px;

  font-size: 2rem;
}

/* INFO */
#info {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 70vh;
  height: 100%;
  margin: 20px 0px;

  background: #eaebe6;
}

#info h2 {
  font-size: 6rem;
  margin: 0;
  font-family: "Aleo";
}

#info-text {
  margin: 0 5%;
  max-width: 30%;
}

#info p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

#info a {
  text-decoration: none;
  border-bottom: 4px solid #1a2e33;

  color: #1a2e33;
  font-size: 1.4rem;
  font-weight: 700;
}

#info img {
  margin: 0 10%;
  width: 80%;
  height: auto;
}

/* EXPLORE */
#explore {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./assets/bgs/theme-bg.jpg");

  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

#explore img {
  width: 350px;
}

@media only screen and (max-width: 1200px) {
  #explore {
    min-height: 60vh !important;
  }
}

#explore p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-weight: 400;
}

/* TEAMS */
#teams {
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background: #eaebe6;

  display: flex;
  justify-content: center;
  align-items: center;
}

#teams h2 {
  font-family: "Aleo";
  font-size: 3.5rem;
  margin: 0;
}

#teams-text {
  margin: 40px 5%;
  max-width: 50%;
}

#teams p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

#teams a {
  color: #1a2e33;
  font-size: 2.7rem;
}

#teams img {
  margin: 0 10%;
  width: 80%;
  height: auto;
}

/* PRESS */
#press {
  width: 100%;
  min-height: 55vh;
  height: 100%;
  background: #ff6f3f;
  color: white;

  display: flex;
  justify-content: center;
}

#press-content {
  margin: auto 0px;
  width: 80%;
}

#press h3 {
  font-size: 1.1rem;
}

#press h2 {
  font-family: "Aleo";
  font-size: 1.8rem;
}

#press p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* OTHER */
#opportunities {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #eaebe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#paths {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 85vw;
}

.col {
  border: none;
  width: 30%;
  margin: 1rem;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.opp_img {
  margin: 0 auto;
  max-width: 10rem;
  margin-top: 2.5rem;
}

.opp_subtitle {
  font-family: "Aleo";
  font-weight: 900;
  margin: auto;
  font-size: 2.2rem;
  color: #213037;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.opp_text {
  font-family: "Avenir";
  font-weight: 200;
  line-height: 1.5rem;
  margin: 2.5rem;
  font-size: 1.1rem;
  color: #213037;
  margin-top: inherit;
}

.opp_filmlink {
  font-family: "Avenir";
  font-weight: 900;
  text-transform: uppercase;

  text-decoration: none;
  border-bottom: 4px solid #1a2e33;

  color: #1a2e33;
  margin: auto;
  margin-bottom: 1.9rem;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}

#opportunities h1 {
  font-family: "Aleo";
  font-weight: 900;
  font-size: 3.5rem;
  margin-top: 5rem;
  color: #1a2e33;
  text-align: center;
}

#explore-more h1 {
  font-family: Aleo;
  font-weight: 900;
  font-size: 3.5rem;
  color: #1a2e33;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.more_link {
  text-decoration: none;
  font-size: 2rem;
  color: #1a2e33;
  font-family: "Avenir";
  font-weight: 900;
}

.more_icon {
  max-width: 3rem;
  display: inline;
  margin-right: 1rem;
}

#explore-more {
  width: 100%;
  height: 100%;
  background: #eaebe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

#other-pages {
  display: flex;
  flex-direction: row;
}

#other-pages a {
  display: flex;
  align-items: center;
  margin: 5px 1rem;
  background: white;
  padding: 0.5rem 2rem;
}

/* FOOTER */

footer {
  display: flex;
  border-top: 3px solid #d1d1d6;
  padding-top: 20px;
  background: #eaebe6;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;

  padding-bottom: 100px;

  color: #1a2e33;

  max-width: 90vw;
}

#footer-emails {
  display: inline-flex;
  flex-direction: column;
}

#footer-links {
  display: inline-flex;
  flex-direction: column;
}

footer .email-pair {
  flex-basis: calc(50% - 20px);
  margin: 10px;
}

footer .email-name {
  display: block;
  text-transform: uppercase;
}

footer .spacer {
  flex-grow: 1;
}

footer a,
footer a:link,
footer a:visited {
  color: #1a2e33;
  text-decoration: none;
}

#footer-links a {
  margin: 5px 0px;
}

footer .email {
  color: #ff6f3f !important;
  font-family: "Aleo";
  font-size: 1.2rem;
}

#social {
  height: 44px;
}

#social a {
  margin: 0px;
  width: 44px;
  height: 44px;
  display: inline-block;
}

#footer-logo img {
  height: 128px;
}

#footer-logo-mobile img {
  width: 80vw;
  margin: auto;
}

#footer-logo-mobile {
  display: none;
}

#footer-expand-down,
#footer-expand-up {
  display: none;
}

.social-icon {
  width: 36px;
  height: 36px;

  padding: 4px;

  opacity: 0.5;
  transition: opacity 0.2s, padding 0.2s, width 0.2s, height 0.2s;
}

.social-icon:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

#faqs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#faqs h1 {
  font-family: "Aleo";
  font-size: 3.5rem;
  text-align: center;
}

#faqs-body {
  display: flex;
  width: 85vw;

  flex-flow: row wrap;
  justify-content: center;
}

/* Accordian */
.faq {
  width: 45%;
  margin: 10px;
  color: #1a2e33;
}

.faq a,
.faq a:link,
.faq a:visited {
  color: #ff6f3f;
}

.accordian {
  background: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.accordian h4 {
  display: inline;
  max-width: 100%;
  margin: 0px 8px;
}

.panel {
  display: none;
  background: white;
  padding: 20px;
}

.panel p {
  margin: 0px;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.accordian {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  #other-pages {
    flex-direction: column;
  }

  footer {
    justify-content: space-between;
  }

  footer #footer-links {
    align-items: center;
  }

  footer #footer-emails {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    text-align: center;
  }

  footer .spacer {
    display: none;
  }
}

.accordian {
  height: 6rem !important;
  display: flex;
  align-items: center;
}

#mobile-footer-contact-us {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mobile-footer-contact-us {
    display: block;
    margin: auto;
  }
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: absolute;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 2;
}

#mlh-trust-badge:hover {
  filter: brightness(120%);
}

@media only screen and (max-width: 768px) {
  #mlh-trust-badge {
    position: absolute;
    min-width: 80px;
    right: 20px;
  }
}
